.container {
	margin-inline: auto;
	margin-bottom: 4.5rem;
	padding-block: 5rem;
	padding-inline: max(1.75rem, 6%);
	display: flex;
	flex-direction: column;
	align-items: center;
	&__logo {
		width: 3.5rem;
		margin-bottom: 2rem;
	}
	&__title {
		margin-bottom: 1rem;
	}
	&__text {
		margin-bottom: 2rem;
	}
	&__form {
		margin-bottom: 4.5rem;
		max-width: 40rem;
	}
	&__image-dashboard {
		width: 100%;
		max-width: 40rem;
		margin-inline: auto;
	}
}
.footer {
	margin-bottom: 2rem;
	&__socials {
		margin-bottom: 1.7rem;
	}
	&__copy {
		margin-bottom: 1rem;
	}
}
